<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEKL</title>
</head>
<body>
    <div>News</div>
    <div class="article">
        <a href={{href_1}} target="_blank">{{title_1}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_1 }}</p>
            <p>Keywords: {{ keywords_1 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_2}} target="_blank">{{title_2}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_2 }}</p>
            <p>Keywords: {{ keywords_2 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_3}} target="_blank">{{title_3}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_3 }}</p>
            <p>Keywords: {{ keywords_3 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_4}} target="_blank">{{title_4}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_4 }}</p>
            <p>Keywords: {{ keywords_4 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_5}} target="_blank">{{title_5}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_5 }}</p>
            <p>Keywords: {{ keywords_5 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_6}} target="_blank">{{title_6}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_6 }}</p>
            <p>Keywords: {{ keywords_6 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_7}} target="_blank">{{title_7}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_7 }}</p>
            <p>Keywords: {{ keywords_7 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_8}} target="_blank">{{title_8}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_8 }}</p>
            <p>Keywords: {{ keywords_8 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_9}} target="_blank">{{title_9}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_9 }}</p>
            <p>Keywords: {{ keywords_9 }}</p>
        </div>
    </div>
    <div class="article">
        <a href={{href_10}} target="_blank">{{title_10}}</a>
        <br>
        <div class="hide">
            <p>Summary: {{ sum_10 }}</p>
            <p>Keywords: {{ keywords_10 }}</p>
        </div>
    </div>
</body>
</html>